<div class="container-fluid section-start" id="edit-product">



  <%= render 'products/form', product: @product %>

  <%= link_to 'Previous', simple_pages_admin_path, class: "btn btn-success bottom-link" %>
  <%= link_to 'Next', simple_pages_admin_path, class: "btn btn-warning bottom-link" %>

</div>
